<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title>To-Do App</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <%- include('header') %>
    <div class="center">
        <div class="buttons">
            <h2>Welcome to the To-Do Manager</h2>
            <p>New here? <a class="btn abs-right" href="/signup">Sign Up</a></p>
            <p>Already have an account? <a class="btn abs-right" href="/login">Sign In</a></p>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/4d482375c9.js" crossorigin="anonymous"></script>
</body>
</html>