<div class="list">
    <h2><%= title %></h2>
    <div class="card">
        <% for (var i = 0; i < data.length; i++) { %>
            <div class="box">
                <div><input type="checkbox"></div>
                <div><%= data[i].title %></div>
                <div><i id="icon" class="fa-solid fa-trash"></i></div>
            </div>
        <% } %>
    </div>
    <span><%= data.length %></span>
</div>
